# Xcode
.DS_Store
xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
build/
# CocoaPods
Pods/
# Ignore xcshareddata directory
CiCdTesting.xcodeproj/xcshareddata/

# Ignore ReferenceImages directory
CiCdTesting/ReferenceImages/
